/* Styles for the entire page */
.pageContainer {
  display: flex;
  /* justify-content: space-between; */
  /* Adjust as needed */
  /* padding: 1.25rem; */
  /* Add spacing around the content */
  /* width: 99vw; */
  /* height: 100%; */
}

/* Styles for the side menu in SideMenu.module.css  */

.sideMenuWrapper {
  width: 22.25%; /* Adjust the width as needed */
  height: 100vh;
  position: sticky; /* Make the side panel sticky */
  top: 0; /* Stick to the top of the viewport */
  overflow-y: hidden; /* Add vertical scrolling if the content exceeds viewport height */
}

/* Styles for the main content area */
.mainContent {
  width: 77.75%;
  flex-grow: 1; /* Allow the main content to grow and fill the remaining space */
  /* background-color: yellow; */
  /* padding: 1.5rem 2.4rem; */
}

/* styles for the search bar wrapper section */
.SearchBarWrapperBeforeScroll {
  width: 100%;
  padding: 1.07rem;
  position: sticky;
  top: 0;
  left: 0;
  height: 6rem;
  background-color: #fff;
  animation: exit 200ms ease-in-out;
}

@keyframes exit {
  from {
    background: linear-gradient(
      0deg,
      transparent 2%,
      rgba(255, 255, 255, 1) 25%
    );
  }
  to {
    background-color: #fff;
  }
}

.SearchBarWrapperAfterScroll {
  padding: 1.07rem;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  background: linear-gradient(0deg, transparent 2%, rgba(255, 255, 255, 1) 25%);

  height: 6rem;
  animation: 200ms enter ease-in-out;
}

@keyframes enter {
  from {
    background-color: #fff;
  }

  to {
    background: linear-gradient(
      0deg,
      transparent 2%,
      rgba(255, 255, 255, 1) 25%
    );
  }
}

/* ----------------- */

/* styles for the add link button wrapper section */

.AddLinkWrapper {
  position: fixed;
  right: 2.5rem;
  bottom: 2rem;
  width: fit-content;
}
