/* LinkEditorModalForm.module.css */

/* Container styles */
.linkEditorForm {
  width: 41.75rem; /* 835px converted to rem */
  height: 28.55rem; /* 571px converted to rem */
  padding: 1.5rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-color: red;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/* Form field styles */
.formField {
  margin-bottom: 1rem;
}

/* Input and select styles */
.inputField {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

/* Checkbox styles */
.checkboxField {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.checkboxLabel {
  margin-left: 0.5rem;
  font-size: 1rem;
}

/* Button styles */
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1rem; /* Distance between buttons */
}

.cancelButton,
.saveButton {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #007bff; /* Blue color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

select:invalid {
  color: grey;
}

select:valid {
  color: red;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .linkEditorForm {
    width: 100%;
    height: auto;
    margin: 1rem;
  }
}
