/* .pageContainer {
  background-color: #018786;
  width: 100%;
  height: 100vh;
} */
/* Login.css */
.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #018786;
  background-image: url("../assets/Group_23@3x.webp");
}

.title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.welcomeBox {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  width: 20rem;
  margin-bottom: 1rem;
}

.welcomeText {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mustLoginText {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
}

.googleLoginButton {
  display: flex;
  align-items: center;
  background-color: #4285f4;
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
}

.googleIcon {
  font-size: 1.5rem;
  margin-right: 1rem;
}

.termsContainer {
  font-size: 0.875rem;
  margin-top: 1rem;
  text-align: center;
}

.termsText a {
  text-decoration: none;
  color: #4285f4;
  font-weight: bold;
}

.termsText a:hover {
  text-decoration: underline;
}
