/* the CSS rules will decide what will the overlay cover based on it's name */

.fullscreenOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  height: 100%;
}

.fullModalOverlay {
  position: absolute;
  /* background-color: rgba(0, 0, 0, 0.7); */
  z-index: 1000;
  height: 100%;
  width: 96.5%;
  overflow: hidden;
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkCardOverlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  height: 8rem;
  width: 17.9rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  padding: 3rem;
  align-items: center;
}

.categoriesBoxOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: absolute;
  height: 61%;
  width: 96%;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
